<%- include partials/header -%>
<!--OR include("partials/header") -->
<h1>Compose</h1>
<form method="POST" action="/compose">
  <div class="form-group">
    <label for="newEntryTitle">Title</label>
    <input type="text" class="form-control" name="newEntryTitle" />
  </div>
  <div class="form-group">
    <label for="postBody">Post</label>
    <textarea
      class="form-control"
      rows="4"
      name="postBody"
      placeholder="What's up?"
      required
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>
<%- include partials/footer -%>
