body {
  margin: 0;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

h1 {
  margin: 0;
  padding-top: 70px;
  font-family: "Marck Script", cursive;
  font-size: 5.625rem; /*root em, #px divided by 16*/
  line-height: 2;
  color: #fbeeac;
}

.programmer-text {
  color:#fbeeac;
}
h2 {
  font-size: 2.5rem;
  color: #28527a;
  font-weight: normal;
}

h3, a {
  color: #28527a;
}

.top-container {
  background-color: #8ac4d0;
  width: auto;
  height: 100vh;
}

.middle-container {
  background-color: #f4d160;
}

.bottom-container {
  background-color: #fbeeac;
}

.skill-row {
  width: 50%;
  margin:  100px auto;
  text-align: left;
  line-height: 2;
}

hr {
  clear: right;
}

.clear-left {
  clear: left;
}

/*Images*/

.mountain1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 75%;
}

.cloud2 {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 400px;
  height: 200px;
}

.cloud1 {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 400px;
  height: 200px;
  opacity: 90%;
}

.profile img {
  border-radius: 0% 0% 100% 100%;
  padding-top: 20px;
  height: 150px;
}

.skill-img {
  width: 25%;
}

.code-img {
  float: left;
  margin-right: 30px;
}

.sauce-img {
  float: right;
  margin-left: 30px;
}

/* https://colorhunt.co/palette/257808 */
